body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"], button {
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* CSS cho Popup */
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.popup-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.image-section {
    flex: 1;
    padding-right: 20px;
}

.text-section {
    flex: 2;
}

#rom-details ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
}

.popup-content {
    position: relative;
    padding: 20px;
}

#popup-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px; /* Kích thước logo */
    height: auto;
}

/* Reponsive */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    #rom-table {
        font-size: 12px;
    }

    .popup-content {
        width: 90%; /* Điều chỉnh độ rộng của popup cho màn hình nhỏ */
        height: auto;
        max-height: 80vh; /* Giới hạn chiều cao tối đa để tránh popup bị vượt quá màn hình */
        overflow-y: auto;
    }

    .popup-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-section img {
        width: 100%; /* Đảm bảo hình ảnh chiếm đủ chiều rộng của popup */
    }

    #rom-detail-popup {
        z-index: 1000;
    }
}